<form (submit)="submitTask()">

    <div class="form-group">
      <label>Nom</label>
      <input type="text" name="name" [(ngModel)]="task.name" class="form-control">
    </div>


  <div class="form-group">
    <label>Contenu</label>
    <textarea name="content" [(ngModel)]="task.content" class="form-control"></textarea>
  </div>

  <div class="form-group">
    <label>Priorité</label>
    <select name="priority" [(ngModel)]="task.priority" class="form-control">
      <option [value]="1">Bas</option>
      <option [value]="2">Normal</option>
      <option [value]="3">Urgent</option>
    </select>
  </div>

  <div class="text-center">
    <input type="submit" class="btn btn-primary" value="{{ task.id != 0 ? 'Modifier' : 'Ajouter'}}">
  </div>

</form>
