<div class="container">
  <app-navbar title="Absences"></app-navbar>
  <div class="row" style="margin-top: 30px">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard
        title="6.96 %"
        headerIcon="weekend"
        category="Absences"
        footContent="Pourcentage d'absences"
        linearColor="linear-gradient(60deg, #ffa726, #fb8c00)"
        boxShadow="0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4)">
      </app-figurecard>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard
        title="9"
        headerIcon="equalizer"
        category="Absences"
        footContent="Nombre d'abs. injustifiées"
        linearColor="linear-gradient(60deg, #ef5350, #e53935)"
        boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4)">
      </app-figurecard>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard
        title="2"
        headerIcon="store"
        category="Justifiées"
        footContent="Nombre d'abs. justifiées"
        linearColor="linear-gradient(60deg, #66bb6a, #43a047)"
        boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4)">
      </app-figurecard>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard
        title="-0.44"
        headerIcon="mic"
        category="Malus"
        footContent="Appliqué à votre moyenne générale"
        linearColor="linear-gradient(60deg, #26c6da, #00acc1)"
        boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4)">
      </app-figurecard>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">assignment</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">Vos absences</h4>
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
              <tr>
                <th>Jour</th>
                <th>Heure</th>
                <th>Cours</th>
                <th>Observation</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Wednesday 11 October</td>
                <td>11:00</td>
                <td>Développement mobile</td>
                <td>abs. injustifiée</td>
              </tr>
              <tr>
                <td>Tuesday 24 October</td>
                <td>13:15</td>
                <td>Carrière professionnelle</td>
                <td>abs. injustifiée</td>
              </tr>
              <tr>
                <td>Tuesday 14 November</td>
                <td>10:00</td>
                <td>Entrepreneuriat et gestion d'entreprise</td>
                <td>abs. injustifiée</td>
              </tr>
              <tr>
                <td>Thursday 16 November</td>
                <td>10:00</td>
                <td>Elevator pitch</td>
                <td>abs. injustifiée</td>
              </tr>
              <tr>
                <td>Tuesday 28 November</td>
                <td>10:00</td>
                <td>Entrepreneuriat et gestion d'entreprise</td>
                <td>abs. injustifiée</td>
              </tr>
              <tr>
                <td>Tuesday 19 December</td>
                <td>09:00</td>
                <td>Entrepreneuriat et gestion d'entreprise</td>
                <td>abs. injustifiée</td>
              </tr>
              <tr>
                <td>Tuesday 09 January</td>
                <td>09:00</td>
                <td>Entrepreneuriat et gestion d'entreprise</td>
                <td>abs. justifiée</td>
              </tr>
              <tr>
                <td>Tuesday 16 January</td>
                <td>09:00</td>
                <td>Entrepreneuriat et gestion d'entreprise</td>
                <td>abs. injustifiée</td>
              </tr>
              <tr>
                <td>Thursday 25 January</td>
                <td>14:15</td>
                <td>Anglais - Groupe 1</td>
                <td>abs. justifiée</td>
              </tr>
              <tr>
                <td>Tuesday 30 January</td>
                <td>09:00</td>
                <td>Entrepreneuriat et gestion d'entreprise</td>
                <td>abs. injustifiée</td>
              </tr>
              <tr>
                <td>Thursday 01 February</td>
                <td>14:15</td>
                <td>Anglais - Groupe 1</td>
                <td>abs. injustifiée</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
